nextflow.enable.dsl = 2

/*
 * ------------------------
 * PARAMETERS
 * ------------------------
 */
params {

    reads = "data/*.fastq.gz"
    reference = "reference/H37Rv"

    outdir = "results"

    // default resources
    cpus = 4
    memory = "8 GB"
    time = "2h"
}

/*
 * ------------------------
 * EXECUTION PROFILE
 * ------------------------
 */
process {

    executor = "local"

    // safer production defaults
    errorStrategy = "retry"
    maxRetries = 2

    cpus = params.cpus
    memory = params.memory
    time = params.time

    /*
     * FASTQC tuning
     */
    withName:FASTQC {
        cpus = 2
        memory = "2 GB"
        time = "1h"
    }

    /*
     * BWA_MEM tuning (your heavy step)
     */
    withName:BWA_MEM {
        cpus = 4

        memory = "8 GB"
        time = "3h"
    }

    /*
     * BWA_INDEX (reference build)
     */
    withName:BWA_INDEX {
        cpus = 4
        memory = "8 GB"
        time = "2h"
    }

    /*
     * SAMTOOLS steps (lightweight)
     */
    withName:SAMTOOLS_SORT {
        cpus = 4
        memory = "8 GB"
    }

    withName:SAMTOOLS_INDEX {
        cpus = 2
        memory = "4 GB"
    }

}

/*
 * ------------------------
 * OUTPUT HANDLING
 * ------------------------
 */
workflow {

    publishDir = [
        path: params.outdir,
        mode: "copy",
        overwrite: true
    ]
}
