nextflow.enable.dsl = 2

params {
    reads = "data/*.fastq.gz"
    reference = "reference/H37Rv.fasta"
    outdir = "results"

    cpus = 4
    memory = "8 GB"
    time = "2h"
}

process {
    executor = "local"

    errorStrategy = "retry"
    maxRetries = 2

    cpus = params.cpus
    memory = params.memory
    time = params.time

    withName:FASTQC {
        cpus = 2
        memory = "2 GB"
        time = "1h"
    }

    withName:BWA_MEM {
        cpus = 4
        memory = "8 GB"
        time = "3h"
    }

    withName:BWA_INDEX {
        cpus = 4
        memory = "8 GB"
        time = "2h"
    }

    withName:SAMTOOLS_SORT {
        cpus = 4
        memory = "8 GB"
    }

    withName:SAMTOOLS_INDEX {
        cpus = 2
        memory = "4 GB"
    }
}
